.vertical-separator-right
{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #EF00D8;
}
.vertical-separator-left
{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #EF00D8;
}
.aux-navbar-left
{
	float: left;
	margin: 10px;
}
.bottom-margin
{
	margin-bottom: 3px !important;
}
.thin-progressbar
{
	height: 3px !important;
}
.progress
{
	height: 3px !important;
	margin-bottom: 1px !important;
}
.progress-bar
{
	background-color: #57b733 !important;
}
.pb-details
{
	width: 60%;
}
.navbar-brand
{
	font-family: 'HiRegular';
	color: #16EF00 !important;
	/*pretazi povodnu definiciu -> opatrne!*/
}
.neon-retro-font
{
	font-family: 'HiRegular';
	color: #2bef00 !important;
}
.arcade-font
{
	font-family: 'PressStart2PRegular';
	color: #f7a009 !important;
}
.beon
{
	font-family: 'BeonRegular'; 
	color: #ff00c7 !important;
}
.beon-neon
{
	font-family: 'BeonRegular'; 
	color: #2bef00 !important;
}
.console
{
	position: fixed;
	bottom: 0;
	width: 100%;
	border: 1px solid black;
	background-color: black;
	font-family: "Consolas";
	color:#16EF00;
}
.cons-title
{
	position: fixed;
	border: 1px solid black;
	border-bottom: 1px solid pink;
	background-color: black;
	font-family: "Consolas";
	color:#16EF00;
}
.page-header
{
	margin: 15px !important;
}
.left-padding h3
{
	padding-left: 50px;
}
.left-padding h4
{
	float: center;
}
.remove-deco a
{
	text-decoration: none;	
}
/*
@media (max-width: 766px) 
{
	body
	{
		padding-top: 20px;
	}
}
@media (min-width: 766px) 
{
	body
	{
		padding-top: 20px;
	}
}
@media (max-width: 200px) 
{
	body
	{
		padding-top: 65px;
	}
}
*/
/*.separation table
{
	margin: 40px;
}
*/